body {
	background-color: #c7dbf9;
}

.navbar {
	background-color: #e0ecff;
}

.nav-bottle {
	width: 2.4em;
	margin-top: -.60em;
}

#bottle-collector-title {
	color: #eff4fc;
	font-family: 'Bowlby One', cursive;
	letter-spacing: .4em;
	text-shadow: 1px 1px 2px #000000;
	margin-left: 10px;
}

.userBottle {
	border: solid 5px green;
	height: 20px;
	width: 20px;
}

#bottleInput {
	width: 75%;
}

#cans-collection {
	border: 1px solid blue;
	height: 50px;
}

#cash-collection {
	border: 1px solid green;
	height: 50px;
}