body {
	background-color: #c7dbf9;
}

.navbar {
	background-color: #e0ecff;
}

.nav-bottle {
	width: 2.4em;
	margin-top: -.60em;
}

#bottle-collector-title {
	color: #eff4fc;
	font-family: 'Bowlby One', cursive;
	letter-spacing: .4em;
	text-shadow: 1px 1px 2px #000000;
	margin-left: 10px;
}

hr {
	color: black;
	border: 1px solid black;
}

.onHoverX {
	width: 10px !important;
	height: 10px !important;
}

#total-bottles {
	margin-left: 5em;
	font-weight: bold;
}

#total-cash {
	margin-left: 4em;
	font-weight: bold;
}

#bottle-number {
	margin-left: 10px;
	font-weight: normal;
	font-size: 1.2em;
	color: black;
}

#cash-number {
	margin-left: 10px;
	font-weight: normal;
	font-size: 1.2em;
	color: black;
}

#bottle-area {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

#userBottle {
	margin-top: 20px;
}

#bottleInput {
	width: 75%;
	height: 38px;
	font-size: 24px
}

.collection-area {
	display: none;
}

#cans-collection {
	border: 1px solid blue;
	height: 50px;
	top: 50em;
}

#cash-collection {
	border: 1px solid green;
	height: 50px;
	top: 50em;
}

#user-input-submission {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 40px;
	
}

ul {
	list-style-type: none;
}

/* media queries start here */
@media only screen and (max-width: 500px) {
   

#bottle-collector-title {
	font-size: 14px;
	}

.nav-bottle {
	width: -2.5em;
}

#total-bottles {
	margin-left: 0px;
	font-weight: bold;
	font-size: 13px;
}

#total-cash {
	margin-left: 0px;
	font-weight: bold;
	font-size: 13px;
}

#bottle-number {
	font-size: 1.6em;
}

#cash-number {
	font-size: 1.6em;
}

#userBottle {
	width: 40px;
	height: 40px;
	margin-left: -10px;
}


}



